#wrap {
    width: 100vw;
    display: flex;
    flex-direction: column;

    .btn {
        background-color: cadetblue;
        color: white;
        border-radius: 5px;
        font-size: 20px;
        margin: 5px;
        padding: 5px;
    }

    label {
        margin-left: 10px;
        font-size: 20px;
    }

    
    .wrap_input {
        width: 100vw;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 10px;

        input {
            width: calc(100% - 10px);
            font-size: 20px;
            border-radius: 5px;
            padding: 10px;
        }

        textarea {
            width: calc(100% - 10px);
            border-radius: 5px;
            padding: 5px;
        }
    }
}