<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>*{margin:0;padding:0;box-sizing:border-box}.btn{background-color:#5f9ea0;color:#fff;margin:10px;padding:10px;border-radius:5px;font-size:20px}label{margin-left:10px;font-size:20px}input{width:100%;margin:10px;padding:10px;font-size:20px;border-radius:5px;margin-bottom:30px}
    </style>
</head>
<body>
    <label for="wordInput">Retorno...</label>
    <input disabled type="text" id="wordInput" name="wordInput">
    <div class="btn" onclick="sendWord('Donativos - Obra Mundial')">Donativos - Obra Mundial</div>
    <div class="btn" onclick="sendWord('Donativos - Despesas da Congregacao')">Donativos - Despesas da Congregacao</div>
    <div class="btn" onclick="sendWord('Donativos - Construcao da Filial')">Donativos - Construcao da Filial</div>
    <div class="btn" onclick="sendWord('Reajuste Monetario - BACEN')">Reajuste Monetario - BACEN</div>
    <div class="btn" onclick="sendWord('Juros')">Juros</div>
    <script>
        const host = document.getElementById('host');
        const port = document.getElementById('port');
        const wordInput = document.getElementById('wordInput');
        function sendWord(word) {
            console.log(window.location)
            let url = `${window.location}typewrite?word=${word}`;
            console.log(url);
            fetch(url)
                .then((res) => {
                    return res.json();
                })
                .then((json) => {
                    wordInput.value = json.word;
                })
                .catch((e) => {
                    console.log('Deu ruin!')
                    console.error(e)
                });
        }
    </script>
</body>

</html>